.venv/                                                                                                 
.env            
target/
dbt_packages/                                                                                          
logs/
*.log
src/tokens.json
__pycache__/
rsa_key.*